// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Poppin', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Rating
.star-rating {
    direction: ltr;
    font-size: 2rem;
    unicode-bidi: bidi-override;
    display: inline-block;
    text-align: center;
}

.star-rating .bi-star {
    color: #c6c1c1;
    cursor: pointer;
    margin: 5px;
}

.star-rating .bi-star-fill {
    color: #f5c518;
}

.suspended {
    background-color: red;
}

.hero {
    background-color: #ECFFF2;
}

.hero2 {
    background-color: #ffffff;
}

.hero3 {
    background-color: #ffffff;
}

.btn-dan {
    background-color: #00A991;
}

.link-footer {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #1B3123;
}